body {
    background-color: #07081A;
    color: #ffffff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

p {
    margin: 0 0;
}

nav {
    display: flex;
    height: 64px;
    border-bottom: #261c51 1px solid;
}

#CloudoIconHeader {
    width: 99px; 
    height: 36px;
    margin: 28px auto 0 200px;
}

#NavMenu {
    margin: 34px 200px 6px auto;
}

.NavMenuButtons {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 16px;
}

#NavHomeButton {
    color: #8CE900;
    margin-left: 0;
}

#DescriptionDiv {
    width: 1040px;
    margin: 64px auto;
    display: flex;
}

#Description {
    display: inline;
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;
    margin: auto auto auto 0;
}

#Creature {
    margin-right: 0;
}

#ProjectsDiv {
    background-color: #242642;
    width: 1040px;
    height: 170px;
    margin: 64px auto;
    display: flex
}

.FourHun {
    font-size: 56px;
    font-weight: 500;
    line-height: 60px;
    color: #8CE900;
    margin: 0 0;
}

.ProjectCompeted {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0 0 0;
}

.ProjectSpans {
    margin: 40px 72px;
}

#MiddleProjectSpan {
    margin: 40px auto;
}

#BottomMenusDiv {
    display: flex;
    width: 1040px;
    height: 184px;
    margin: 200px auto 64px auto;
}

#BottomCloudo {
    margin: 42px auto 42px 0;
    width: 264px;
    height: 100px;
}

#BottomMenu {
    margin: 0 auto;
    width: 82px;
    height: 184px;
}

#BottomOther {
    margin: 40px 0 40px auto;
    width: 186px;
    height: 104px;
}

#BottomDesc {
font-size: 14px;
font-weight: 400;
line-height: 24px;
color: #C0C0C0;
}

.SecondMenu {
    margin: 16px auto 16px 0;
}

#SecondsNavButton {
    color: #8CE900;
    margin-top: 0;
}

.BottomOther {
    margin: 16px auto 16px 0;
}

#BottomContactButton {
    color: #8CE900;
    margin-top: 0;
}